include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
recursive-include po2lmo *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * *.dylib
recursive-exclude * .DS_Store
